* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

 .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 1.2rem 7%;
    background-color: white;
    border-bottom: 1px solid #2c2a2ad3;
    z-index: 1000;
}

.navbar a {
    color: rgba(39, 37, 37, 0.726); 
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color:#2E4057;
}

.hero {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1f1e1eb0;
}

.hero .content{
     max-width: 60rem;
}

.hero .content h1{
    font-size: 5em;
    color: rgb(243, 242, 242);
    text-align: center;
}

.Profile {
    padding: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    gap: 30px;
    font-family: Arial, sans-serif;
}


.Profile img {
    width: 30%;
    height: 350px;
    border-radius: 20px;
    display: block;
    object-fit: cover;
}


.profile-text {
    display: flex;
    text-align: left;
    flex-direction: column;
}

.profile-text h2 {
    margin-bottom: 10px;
}

.profile-text p {
    margin: 4px 0;
    font-size: 16px;
}

.Informasi {
    padding: 50px 20px;
    font-family: Arial, sans-serif;
    min-height: 80vh;
    background-color: #22202096;
}

.Informasi .content {
    max-width: 800px;
    margin: 0 auto;
}

.Informasi h1 {
    font-size: 28px;
    margin-bottom: 15px;
    color: white;
}

.Informasi p {
    font-size: 16px;
    line-height: 1.6;
    color: white;
}

.Media {
    font-family: Arial, sans-serif;
    text-align: center;
}

.media-foto,
.media-video {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.media-foto img,
.media-video video {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.15);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.Project {
    padding: 60px 20px;
    text-align: center;
    background-color: #2b2a2ab6;
}

.Project p {
    color: white;
}

.Project h2 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.subtitle {
    color: #6b7280;
    margin-bottom: 40px;
}


.project-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}


.project-card {
    background-color: #ffffff;
    width: 300px;
    border-radius: 16px;
    overflow: hidden;
    text-align: left;
    box-shadow: 0 8px 20px rgba(255, 0, 0, 0.08);
}


.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-card h3 {
    font-size: 18px;
    margin: 15px;
}

.project-card p {
    font-size: 14px;
    color: #555;
    margin: 0 15px 20px;
}


.kontak {
    padding: 60px 20px;
    background-color: #f6f7fb;
    font-family: Arial, sans-serif;
}

.kontak h1 {
    text-align: center;
    margin-bottom: 20px;
}

.kontak-container {
    max-width: 700px;
    margin: 0 auto;
}

.kontak-form {
    display: flex;
    flex-direction: column;
}

.kontak-form label {
    margin-bottom: 6px;
    font-weight: bold;
}

.kontak-form input,
.kontak-form textarea {
    padding: 12px 14px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #000000;
    font-size: 14px;
}

.kontak-form textarea {
    min-height: 120px;
    resize: none;
}


.kontak-form button {
    width: 120px;
    padding: 12px;
    border: none;
    border-radius: 999px;
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.kontak-form button:hover {
    background-color: #2563eb;
}


.footer {
    background-color: #2E4057;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}